aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: $mainColor;
  padding: 10% 0 0 1%;
  .content {
    background-color: #f6f5f5;
    height: 100%;
    padding: 10%;
    p {
      text-transform: uppercase;
      color: $mainColor;
      margin: 20px 0 40px 0;
    }
    .aside_heart {
      color: $mainColor;
      position: absolute;
      top: 25%;
      left: 1%;
      height: 50px;
      width: 50px;
      background-color: white;
      border: 8px solid $mainColor;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      span {
        line-height: 50px;
        font-size: 24px;
      }
      .invalid {
        color: red;
      }
    }
    .title {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
    }
    #checkboxButtons {
      position: relative;
      padding: 18px 0 10px 0;
      .container {
        position: relative;
        //display: flex;
        //flex-direction: row;
        //flex-wrap: nowrap;
        //justify-content: space-between;
        input {
          display: none;
        }
        .checkmark {
          text-align: center;
          line-height: 40px;
          display: inline-block;
          cursor: pointer;
          position: relative;
          font-size: 14px;
          font-weight: 500;
          width: 40%;
          background-color: #fff;
          color: black;
          border: 1px solid #d3d3d3;
          border-radius: 5px;
          // img {
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   height: 30px;
          //   width: 32px;
          //   z-index: 3;
          // }
          // .fem {
          //   background-image: url("../src/female_b.png");
          // }
          // .mal {
          //   background-image: url("../src/male_b.png");
          // }
          &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          }
        }
        input:checked ~ .checkmark {
          background-color: $mainColor;
          border: 1px solid $mainColor;
          color: white;
          // .fem {
          //   background-image: url("../src/female_w.png");
          // }
          // .mal {
          //   background-image: url("../src/male_w.png");
          // }
        }
      }
    }
    .inputeBox {
      position: relative;
      input[type="text"],
      input[type="password"] {
        height: 4%;
        font-size: 18px;
        padding: 10px 14px;
        margin: 18px 0 5px 0;
        width: calc(80% - 20px);
        border: 1px solid rgb(202, 202, 202);
        border-radius: 5px;
      }
      ::-webkit-input-placeholder {
        color: red;
        font-size: 14px;
      }
      ::-moz-placeholder {
        color: red;
        font-size: 14px;
      }
      :-moz-placeholder {
        color: red;
        font-size: 14px;
      }
      :-ms-input-placeholder {
        color: red;
        font-size: 14px;
      }
    }
    .agreement {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      .plot {
        font-size: 10px;
        margin: 0 4px;
      }
    }
    .regAccept {
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      width: 45%;
      border-radius: 10px;
      &:disabled {
        border: 1px solid $mainColor;
        background-color: white;
        color: grey;
      }
    }
    .active {
      cursor: pointer;
      background-color: $mainColor;
      color: white;
    }
  }
}
